# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Andrew Garner
	email = agarthetiger@users.noreply.github.com
[alias]
	gs = status
[merge]
	ff = no
[pull]
	ff = yes
[push]
	default = current
